@media (max-width: 767px) {
  .container, .nav {
    width: calc(100vw - 2 * 15px); } }

@media (min-width: 768px) {
  .container, .nav {
    width: 738px; } }

.container {
  padding: 100px 0; }

.section {
  display: flex;
  justify-content: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .nav__mini {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: calc(100% - 2 * 25px); }

.logo {
  display: flex;
  align-items: center; }

.hamburger {
  display: inline-block;
  padding: 10px;
  margin: 0;
  background: transparent;
  border: 0;
  outline: none; }
  .hamburger__box {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 32px; }
  .hamburger__inner {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #3B566E;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background-color 0.5s; }
    .hamburger__inner::before, .hamburger__inner::after {
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #3B566E;
      content: '';
      width: 75%;
      left: 0;
      transition: transform 0.5s, width 0.5s; }
    .hamburger__inner::before {
      top: -10px; }
    .hamburger__inner::after {
      top: 10px; }
  .hamburger--active .hamburger__inner {
    background-color: transparent; }
  .hamburger--active .hamburger__inner::before {
    width: 100%;
    transform: translateY(10px) rotate(45deg); }
  .hamburger--active .hamburger__inner::after {
    width: 100%;
    transform: translateY(-10px) rotate(-45deg); }

.navigation {
  display: none;
  width: 100%;
  font-size: 13px;
  letter-spacing: 0.07em; }
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .navigation__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-top: 1px solid #eee; }
  .navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #3B566E; }

@media (min-height: 600px) {
  .nav__mini {
    height: 80px; } }

.welcome {
  position: relative;
  height: 100vh;
  background: url("../images/welcome_image.jpg") center;
  color: white; }
  .welcome__container {
    z-index: 1; }
  .welcome::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95)); }
  .welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .welcome__title {
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.06em; }
  .welcome__subtitle {
    margin-top: 15px;
    text-align: center;
    line-height: 1.6em;
    font-size: 0.9em; }
  .welcome__strong {
    display: block;
    font-weight: bolder; }
  .welcome__btn {
    margin-top: 15px; }
  .welcome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background: url("../images/welcome_divider.svg") no-repeat center;
    background-size: 100% 100%; }

@media (min-width: 768px) {
  .welcome__title {
    width: 390px; }
  .welcome__strong {
    display: inline; }
    .welcome__strong::before {
      content: "\A"; } }

@media (min-height: 600px) {
  .welcome__subtitle {
    margin-top: 25px; }
  .welcome__btn {
    margin-top: 25px; }
  .welcome::after {
    height: 100px; } }

.features__items {
  display: grid;
  grid-gap: 25px; }

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.03em; }
  .features__item:first-child {
    margin-top: 0; }

.features__icon {
  color: white;
  font-size: 42px; }
  .features__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: #8261ee;
    border-radius: 50%; }

.features__item-title {
  margin-top: 15px;
  font-size: 18px; }

.features__item-description {
  margin-top: 7px;
  line-height: 2em;
  font-size: 13px; }

@media (min-width: 768px) {
  .features__items {
    grid-template-columns: 1fr 1fr; } }

.about {
  display: flex; }
  .about__icon {
    font-size: 220px; }
    .about__icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 280px;
      width: 280px;
      background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
      .about__icon-container-2 {
        margin-top: 25px; }
  .about__item-2 {
    margin-top: 50px; }
  .about__item-title {
    display: block;
    line-height: 42px;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.03em; }
    .about__item-title-1 {
      margin-top: 25px; }
  .about__item-description {
    margin-top: 15px;
    color: #777777;
    line-height: 28px;
    letter-spacing: 0.06em; }
  .about__divider {
    margin-top: 50px; }

.work-process {
  position: relative;
  background: url("../images/work-process_image.jpg") center;
  color: white; }
  .work-process__container {
    z-index: 1; }
  .work-process::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95)); }
  .work-process__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .work-process__title {
    font-size: 28px;
    letter-spacing: 0.06em; }
  .work-process__description {
    margin-top: 25px;
    line-height: 1.6em;
    font-size: 15px; }
  .work-process__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 50px; }
  .work-process__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #ffffff;
    box-shadow: 10px 10px 0 rgba(175, 146, 226, 0.58);
    border-radius: 20px; }
    .work-process__item-title {
      margin-top: 15px;
      color: #2e2e2e;
      font-size: 17px; }
    .work-process__item-description {
      margin-top: 7px;
      color: #777777;
      line-height: 1.5em;
      font-size: 14px; }
  .work-process__icon {
    font-size: 24px; }
    .work-process__icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 32px;
      width: 32px;
      background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
  @media (min-width: 768px) {
    .work-process__items {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.testimonials__container {
  display: flex;
  flex-direction: column;
  text-align: center; }

.testimonials__title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.75px; }

.testimonials__description {
  margin-top: 25px;
  color: #777777;
  line-height: 28px; }

.testimonials__items {
  display: grid;
  grid-gap: 25px;
  margin-top: 50px; }

.testimonials__item {
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); }
  .testimonials__item:first-child {
    margin-top: 0; }

.testimonials__icon {
  font-size: 24px; }
  .testimonials__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 32px;
    width: 32px;
    background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.testimonials__content {
  margin-top: 15px;
  color: #777777;
  line-height: 26px;
  font-size: 15px;
  text-align: left; }

.testimonials__attestant {
  display: flex;
  margin-top: 15px; }

@media (min-width: 768px) {
  .testimonials__items {
    grid-template-columns: 1fr 1fr; } }

.attestant__photo {
  height: 60px;
  width: 60px;
  border-radius: 50%; }

.attestant__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  width: 100%; }

.attestant__name {
  font-size: 17px;
  font-weight: 400; }

.attestant__title {
  margin-top: 7px;
  color: #ff589e;
  font-size: 15px; }

.pricing {
  background-color: #f2f2fe; }
  .pricing__container {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .pricing__title {
    color: #1e1e1e;
    line-height: 38px;
    font-size: 28px;
    letter-spacing: 1.75px; }
  .pricing__description {
    margin-top: 25px;
    color: #777777;
    line-height: 28px;
    letter-spacing: 1px; }
  .pricing__items {
    display: grid;
    grid-gap: 25px;
    margin-top: 50px; }
  .pricing__item {
    padding: 25px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); }
    .pricing__item:first-child {
      margin-top: 0; }
  @media (min-width: 768px) {
    .pricing__items {
      grid-template-columns: 1fr 1fr; } }

.package__title {
  color: #1e1e1e;
  font-size: 17px; }

.package__payment {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-top: 25px;
  width: 100%;
  background: #8261ee;
  color: white;
  border-radius: 20px; }

.package__features {
  margin-top: 25px; }
  .package__features__item {
    margin-top: 15px;
    color: #7a7a7a;
    font-size: 13px; }
    .package__features__item:first-child {
      margin-top: 0; }
    .package__features__item:nth-last-child(-n+3) {
      text-decoration: line-through; }

.package__button {
  display: inline-block;
  margin-top: 25px; }

.package--premium > .package__payment {
  background: #ff589e; }

.package--premium .package__features__item:nth-last-child(3) {
  text-decoration: none; }

.package--advanced .package__features__item {
  text-decoration: none; }

.payment__charging {
  display: flex;
  justify-content: center; }

.payment__currency {
  font-size: 32px; }

.payment__value {
  margin-left: 7px;
  font-size: 28px; }

.payment__frequency {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  letter-spacing: 0.88px; }

.statistics {
  position: relative;
  color: white;
  background: url("../images/statistics_image.jpg") center; }
  .statistics__container {
    z-index: 1; }
  .statistics::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95)); }
  .statistics__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; }
    .statistics__item:first-child {
      margin-top: 0; }
  .statistics__number {
    font-size: 36px; }
  .statistics__description {
    margin-top: 7px;
    font-size: 17px; }

.blog {
  background-color: #fff; }
  .blog__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .blog__title {
    font-size: 28px; }
  .blog__description {
    margin-top: 25px;
    color: #777777;
    line-height: 28px;
    font-size: 15px; }
  .blog__items {
    display: grid;
    grid-gap: 25px;
    margin-top: 50px; }
  @media (min-width: 768px) {
    .blog__items {
      grid-template-columns: 1fr 1fr; } }

.entry__photo {
  max-width: 100%;
  border-radius: 20px; }

.entry__title {
  margin-top: 15px; }

.entry__description {
  margin-top: 7px;
  color: #777;
  line-height: 26px;
  font-size: 13px; }

.entry__button {
  display: inline-block;
  margin-top: 15px; }

.contact {
  background-color: #f2f2fe; }
  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .contact__title {
    font-size: 28px; }
  .contact__description {
    margin-top: 25px;
    color: #777;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 1px; }
  .contact__form {
    margin-top: 50px;
    width: 100%;
    text-align: left; }

.form * {
  border: none;
  border-radius: 30px;
  outline: none; }
  .form *:first-child {
    margin-top: 0; }

.form__inputs {
  display: grid;
  grid-gap: 15px;
  width: 100%; }
  .form__inputs * {
    padding: 15px 25px;
    color: #212529;
    font-size: 14px;
    font-family: inherit; }
    .form__inputs *:first-child {
      margin-top: 0; }

.form__textarea {
  resize: vertical; }

.form__submit {
  margin-top: 25px;
  font-size: 13px; }

@media (min-width: 768px) {
  .form__inputs {
    grid-template-columns: 1fr 1fr; }
  .form__textarea {
    grid-column: 1 / 3; } }

.footer {
  background: linear-gradient(135deg, rgba(167, 89, 209, 0.95), rgba(130, 97, 238, 0.95)); }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 0;
    color: white; }
  .footer__media {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 320px; }
  .footer__divider {
    margin-top: 25px;
    width: 100%;
    border: 0.5px solid rgba(211, 211, 211, 0.3); }
  .footer__copyright {
    margin-top: 25px;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 0.88px;
    text-transform: uppercase; }
  .footer__design {
    display: block;
    margin-top: 7px; }
  @media (min-width: 768px) {
    .footer__design {
      display: inline; }
      .footer__design::before {
        content: " - "; } }

.media__icon {
  margin: 7px 15px;
  font-size: 36px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', 'sans-serif'; }

.btn {
  padding: 12px 20px;
  color: #ffffff;
  border-radius: 20px;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase; }
  .btn--primary {
    background-color: #ff589e; }
  .btn--secondary {
    background-color: #8261ee; }

.divider {
  border: 0.5px solid #f2f2fe; }

.link {
  text-decoration: none; }

.list {
  list-style-type: none; }
